<div class="row">
<div class="col-md-12">
   <div class="jumbotron well well-sm" >
      <h2>Playing the Game</h1>
      <p>When it is your turn, you have to take one of the four following actions:</p>
      <ul class="list-unstyled">
         <li>Place a path card in the tunnel maze.</li>
         <li>Play an action card.</li>
         <li>Discard two cards from your hand to remove a card in front of you.</li>
         <li>Pass and discard 1-3 face-down cards from your hand.</li>
      </ul>
      <p>Then your turn is over and it‘s the next player‘s turn.</p>
   </div>
</div>
</div>