
.card {
    display: inline-table;
    border-radius:5px;
    margin-left: 5px !important;
}

.sprite {
    overflow:hidden; 
    background-repeat: no-repeat;
    background-image:url("../imgs/cards.jpg");
} 
.path-00{
    width:120px; 
    height:195px; 
    background-position: -645px -973px;
}
.goal-back{
    width:120px; 
    height:195px; 
    background-position: -240px -1575px;
}
.goal-00{
    width:120px; 
    height:195px; 
    background-position: -387px -782px;
}
.path-01, .path-02, .path-03, .path-04 {
    width:120px; 
    height:195px; 
    background-position: -12px -805px;
}
.path-05,.path-06,.path-07,.path-08,.path-09{
    width:120px; 
    height:195px; 
    background-position: -1020px -990px;
}

.path-10,.path-11,.path-12,.path-13,.path-14, .goal-01, .goal-02{
    width:120px; 
    height:195px; 
    background-position: -765px -990px;
}
.path-15,.path-16,.path-17,.path-18{
    width:120px; 
    height:195px; 
    background-position: -12px -590px;
}
.path-19, .path-20, .path-21, .path-22, .path-23 {
    width:120px; 
    height:195px; 
    background-position: -510px -590px;
}
.path-24{
    width:120px; 
    height:195px; 
    background-position: -890px -590px;
}
.path-25{
    width:120px; 
    height:195px; 
    background-position: -903px -969px;
}
.path-26{
    width:120px; 
    height:195px; 
    background-position: -520px -790px;
}
.path-27{
    width:120px; 
    height:195px; 
    background-position: -1130px -1172px;
}
.path-28{
    width:120px; 
    height:195px; 
    background-position: -260px -590px;
}
.path-29{
    width:120px; 
    height:195px; 
    background-position: -1150px -990px;
}
.path-30, .path-31, .path-32, .path-33, .path-34 {
    width:120px; 
    height:195px; 
    background-position: -142px -590px;
}
.path-35,.path-36,.path-37,{
    width:120px; 
    height:195px; 
    background-position: -1150px -790px;
}
.path-38{
    width:120px; 
    height:195px; 
    background-position: -1275px -990px;
}
.path-39{
    width:120px; 
    height:195px; 
    background-position:-1021px -1174px;
}
.path-40{
    width:120px; 
    height:195px; 
    background-position:-1150px -1172px;
}
.path-41,.path-42{
    width:120px; 
    height:195px; 
    background-position: -240px 0px;
}
.path-43{
    width:120px; 
    height:195px; 
    background-position: 0px 0px;
}
.path-44{
    width:120px; 
    height:195px; 
    background-position: -120px 0px;
}
.path-45{
    width:120px; 
    height:195px; 
    background-position: -360px 0px;
}
.path-46{
    width:120px; 
    height:195px; 
    background-position: -480px 0px;
}
.path-47{
    width:120px; 
    height:195px; 
    background-position: -600px 0px;
}
.path-48{
    width:120px; 
    height:195px;     
    background-position: -840px 0px;
}
.path-49{
    width:120px; 
    height:195px; 
    background-position: -720px 0px;
}
.path-50{
    width:120px; 
    height:195px; 
    background-position: -1200px 0px;
}
.path-51 {
    width:120px; 
    height:195px; 
    background-position: -120px -195px;
}
.path-52{
    width:120px; 
    height:195px; 
    background-position: -961px 0px;
}
.path-53{
    width:120px; 
    height:195px; 
    background-position: -1081px 0px;
}
.path-54{
    width:120px; 
    height:195px; 
    background-position: -0px -195px;
}
.path-55{
    width:120px; 
    height:195px; 
    background-position: -361px -387px;
}
.path-56{
    width:120px; 
    height:195px; 
    background-position: 0px -387px;
}
.path-57{
    width:120px; 
    height:195px; 
    background-position: -1202px -195px;

}
.path-58{
    width:120px; 
    height:195px; 
    background-position: -241px -387px;
}
.path-59, .path-60{
    width:120px; 
    height:195px; 
    background-position: -120px -387px;
}
.path-61{
    width:120px; 
    height:195px; 
    background-position: -480px -195px;
}
.path-62{
    width:120px; 
    height:195px; 
    background-position: -361px -195px;
}
.path-63{
    width:120px; 
    height:195px; 
    background-position: -601px -195px;
}
.path-64{
    width:120px; 
    height:195px; 
    background-position: -721px -195px;
}
.path-65{
    width:120px; 
    height:195px; 
    background-position: -240px -195px;
}
.path-66{
    width:120px; 
    height:195px; 
    background-position: -1081px -195px;
}
.path-67{
    width:120px; 
    height:195px; 
    background-position: -962px -195px;
}
.path-68{
    width:120px; 
    height:195px; 
    background-position: -841px -195px;
}
.path-69,.path-70{
    width:120px; 
    height:195px; 
}
.action-00,
.action-01,
.action-02,
.action-03,
.action-04,
.action-05{
    width:120px; 
    height:195px; 
    background-position: -1803px -1575px;
}
.action-06,
.action-07,
.action-08,
.action-47{
    width:120px; 
    height:195px;
    background-position: -1924px -1575px;
}
.action-09,
.action-10{
    width:120px; 
    height:195px;
    background-position: -1443px -1575px;
}
.action-11{
    width:120px; 
    height:195px;
    background-position: -601px -1575px;
}
.action-12{
    width:120px; 
    height:195px;
    background-position: -481px -1575px;
}
.action-13,
.action-14{
    width:120px; 
    height:195px;
    background-position: -1202px -1575px;
}
.action-15{
    width:120px; 
    height:195px;
    background-position:-360px -1575px;
}
.action-16,
.action-17{
    width:120px; 
    height:195px;
    background-position: -1684px -1575px;
}
.action-18,
.action-19,
.action-20{
    width:120px; 
    height:195px;
    background-position: -1322px -1575px;
}
.action-21,
.action-22,
.action-23{
    width:120px; 
    height:195px;
    background-position: -1562px -1575px;
}
.action-24,
.action-25,
.action-26{
    width:120px; 
    height:195px;
    background-position: -1082px -1575px;
}
.action-27,
.action-28,
.action-29,
.action-30{
    width:120px; 
    height:195px;
    background-position: -2525px -1575px;
}
.action-31,
.action-31,
.action-33{
    width:120px; 
    height:195px;
    background-position: -2405px -1575px;
}
.action-34,
.action-35{
    width:120px; 
    height:195px;
    background-position: -2766px -1575px;
}
.action-36,
.action-37,
.action-38{
    width:120px; 
    height:195px;
    background-position: -2284px -1575px;
}
.action-39,
.action-40{
    width:120px; 
    height:195px;
    background-position: -2885px -1575px;
}
.action-41,
.action-42{
    width:120px; 
    height:195px;
    background-position: -2645px -1575px;
}
.action-43,
.action-44,
.action-45,
.action-46{
    width:120px; 
    height:195px;
    background-position: -2164px -1575px;
}
.game-board {
    background-color: #076324;
    background-image: url("../imgs/black-felt.png");
}
.bluedigger{
    width:120px; 
    height:195px;
    background-position: 0px -1376px;
}
.greendigger{
    width:120px; 
    height:195px;
    background-position: -242px -1376px;
}
.profiteer{
    width:120px; 
    height:195px;
    background-position: -1561px -1376px;
}
.geologist{
    width:120px; 
    height:195px;
    background-position: -1442px -1376px;
}
.theboss{
    width:120px; 
    height:195px;
    background-position: -1321px -1376px;
}
.saboteurs{
    width:120px; 
    height:195px;
    background-position: -960px -1376px;
}
.rotate{
    transform: rotate(180deg);
}

.red-border {
    border: 2px solid red;
}