<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Saboteur</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap-toggle.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='vendor/bootstrap-toggle.min.js')}}"></script> 
    <script type="text/javascript" src="{{url_for('static', filename='js/scripts.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/draggable.js')}}"></script>
</head>
<body>
    <div class="container">
        <div class="header clearfix">
          <nav>
            <ul class="nav nav-pills pull-right">
              <li role="presentation" id="leave-room"><a href="{{url_for('logout')}}">Log Out</a></li>
            </ul>
          </nav>
          <h3 class="text-muted">Dashboard <small id="username">{{user|safe}}</small> </h3>
        </div>  
        <div class="row">
            <div class="btn-group"  role="group" aria-label="Basic example" id="event-room" style="display: none">
                <button type="button" class="btn btn-warning" id="btn-leave">Leave Room</button>
                <input id="toggle-ready" type="checkbox" data-toggle="toggle" data-on="Ready" data-off="Not Ready" data-onstyle="success" data-offstyle="danger" style="display: none;">
            </div>
        </div>
        <div class="row">
          <div class="col-sm-12 gamerooms">
                  <ul class="list-group">
                  </ul>
          </div>
        </div>
        <div  class="row" id="list-rooms">
        </div>
        <div class="row" id="new-room">
            <div class="col-sm-9" id="new-room">
                <input id="lbl-new-room" type="text" class="form-control" placeholder="Enter Room Name" aria-label="Enter Room Name">
            </div>
            <div class="col-sm-1">
                <button class="btn btn-warning" id="create_game_room"> Create Game </button>
            </div>
        </div>
        <div class="row" id="chat-row">
        <div class="col-sm-8">
            <div class="chatbody" id="chat">
                <div class="panel with-nav-tabs panel-primary">
                    <div class="panel-heading top-bar">
                        <div class="col-md-2 col-xs-2">
                            <h3 class="panel-title" id="drag-chat"><span class="glyphicon glyphicon-comment"></span> Chat </h3>
                        </div>    
                        <div class="col-md-9 col-xs-9" id="chatTabs">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1primary" data-toggle="tab" class="nourl" id="tab1">Lobby</a></li>
                                <li><a href="#tab2primary" data-toggle="tab" class="nourl" id="tab2">Room</a></li>
                            </ul>
                        </div>   
                        <div class="col-md-1 col-xs-1">
                            <i class="glyphicon glyphicon-asterisk toggle-chat pull-right">Collapse</i>
                        </div>
                    </div>
                    <div class="panel-body msg_container_base">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1primary"></div>
                            <div class="tab-pane fade" id="tab2primary"></div>
                        </div>
                    </div>
                    <div class="panel-footer">
                            <form action="" method="POST" class="form-wrapper cf"> 
                                <div class="input-group">       
                                    <input id="btn-input" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." autocomplete="off"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" id="btn-chat" type="submit"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></button>
                                    </span>
                                </div>
                            </form>
                    </div>
    		    </div>
            </div>
        </div>

        </div>


    
    {% include "partials/modal.html" %} 
    </div>
    {% include "partials/footer.html" %} 
</div>
</body>
</html>