<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Saboteur</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>   
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/scripts.js')}}"></script>
</head>
<body>
    <h1>Dashboard</h1>
    <p>Test code for Flask-SocketIO</p>
    <div class="container-fluid">
        <div class="row">
            <a href="{{url_for('logout')}}">Log Out</a>
        </div>
        <div class="row">
            <div class="col-sm-12 gamerooms">
            </div>
        </div>
        <div class="row" id="new-room">
            <div class="col-sm-8">
                <input id="lbl-new-room" type="text" placeholder="Enter Room Name" />
            </div>
            <div class="col-sm-4 roomsbtn">
                <button id="create_game_room">Create Game</button>
            </div>
        </div>
        <div id="chat">
            <div class="messages">
                
            </div>
            <form action="" method="POST">                
                <input type="text" class="message" placeholder="Messages"/>
                <input type="submit"/>
              </form>
        </div>
    </div>
</body>
</html>