<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Saboteur</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>   
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/cards.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
</head>
<body>
    
    <div class="container">
        <div class="header clearfix">
          <nav>
            <ul class="nav nav-pills pull-right">
              <li role="presentation"><a href="{{url_for('dashboard')}}">Leave Game</a></li>
            </ul>
          </nav>
          <h3 class="text-muted">Saboteur</h3>
        </div>
  
        <div class="jumbotron">
          <h1>Saboteur The Game</h1>
          <p class="lead">In Saboteur, each player takes on the role of a gold-digging dwarf or a saboteur who wants to hinder exploration of the gold mines — but each player knows only his own role, so the digging may or may not go as planned!</p>
        </div>
        <div class="row">
            <div class="col-sm-8">
                    <div class="text">
                            <label class="text-muted">Player Hand</label> 
                        </div>
                <div class="player-hand well well-sm">
                    
                <section class="hand">
                   <div class="card sprite path02"></div>
                   <div class="card sprite path03"></div>
                   <div class="card sprite path01"></div>
                   <div class="card sprite path01"></div>
                   <div class="card sprite path01"></div>
                   <div class="card sprite path01"></div>
                   <div class="card sprite path01"></div>
                   <div class="card sprite path01"></div>
                   <div class="card sprite path01"></div>
                   <div class="card sprite path01"></div>
                   <div class="card sprite path01"></div>
                   <div class="card sprite path01"></div>
                   <div class="card sprite path01"></div>
                   <div class="card sprite path01"></div>
                   <div class="card sprite path01"></div>
                   <div class="card sprite path01"></div>
                   <div class="card sprite path01"></div>
                </section>
                </div>
            </div>
            <div class="col-sm-4">
                    <div class="text">
                            <label class="text-muted">Player Role</label> 
                        </div>
                <div class="player-role well well-sm">
                    
                   <div class="card sprite path01"></div>
                </div>
            </div>
        </div>
        <div class="row">    
            <div class="col-sm-12">
                <div class="game-board well well-sm" id="grid">

                </div>
            </div>
        </div>
    
    <div class="row">
            <div class="col-sm-3">
                    <div class="game-opponent well well-sm" style="min-height: 100px;">
                        <div class="icon">
                             <i class="glyphicon glyphicon-user"></i>
                        </div>
                        <div class="text">
                            <label class="text-muted">Game Opponent</label>
                        </div>
                    </div>
            </div>
            <div class="col-sm-3">
                <div class="game-opponent well well-sm" style="min-height: 100px;">
                    <div class="icon">
                         <i class="glyphicon glyphicon-user"></i>
                    </div>
                    <div class="text">
                        <label class="text-muted">Game Opponent</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="game-opponent well well-sm" style="min-height: 100px;">
                    <div class="icon">
                         <i class="glyphicon glyphicon-user"></i>
                    </div>
                    <div class="text">
                        <label class="text-muted">Game Opponent</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="game-opponent well well-sm" style="min-height: 100px;">
                    <div class="icon">
                         <i class="glyphicon glyphicon-user"></i>
                    </div>
                    <div class="text">
                        <label class="text-muted">Game Opponent</label>
                    </div>
                </div>
            </div>
    </div>
</div>
        <footer class="footer">
          <p>© 2019 Bear-Team-21.</p>
        </footer>
    </div>
<script>
    window.onload = function() {
        var squarewidth = 120; 
        var squareheight= 195; 
        var divMain = document.getElementById('grid');
        var size = 10;
        var count = 0;
        for (var j = 0; j < size; j++) {
            for (var i = 0; i < size; i++) {
                var sqr = document.createElement('div'), 
                coord = {"x":i,"y":j} 
                sqr.className = 'square'; 
                count++;
                sqr.id ="square-"+count;
                console.log(sqr.id);
                sqr.style.width = squarewidth + 'px'; 
                sqr.style.height = squareheight + 'px'; 
                sqr.style.left = (coord.x * squarewidth) + 'px'; 
                sqr.style.top = (coord.y * squareheight) + 'px';
                sqr.addEventListener('click', function(evt) { 
                    console.log(this); 
                }); 
                divMain.appendChild(sqr); 
            }
        }
    };
</script>
</body>
</html>