<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Saboteur</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/cards.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/game.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/draggable.js')}}"></script>
</head>
<body>
    
    <div class="container-fluid content">
        <div class="header clearfix">
          <nav>
            <ul class="nav nav-pills pull-right">
              <li role="presentation" id="leave-room"><a href="{{url_for('dashboard')}}">Leave Game</a></li>
            </ul>
          </nav>
          <h3 class="text-muted">Saboteur <small id="username">{{user|safe}}</small> <small id="gamename">{{gamename|safe}}</small> </h3>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h3 id="player-active"></h3>
            </div>
            <div class="col-sm-4 text-center">
                <h3 id="seconds"></h3>
            </div>
            <div class="col-sm-4">
                <span class="back pull-right"></span><h4 class="text-right" id="deck-cards"></h4>
            </div>
        </div>    
        <div class="row">
                <div class="col-sm-9">
                        <div class="text">
                                <label class="text-muted">Player Hand</label> 
                            </div>
                    <div class="player-hand well well-sm" id="player-hand">
                        
                    <section class="hand" id="hand">
                       
                    </section>
                    <button id="discard" class="btn btn-danger">Discard</button>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                        <div class="text">
                                <label class="text-muted">Player Role</label> 
                            </div>
                    <div class="player-role well well-sm" id="player-role">
                        
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="row">    
                    <div class="col-sm-12">
                        <div class="game-board well well-sm" id="grid">
        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" id="opponents">
            </div>
        </div>
        
        <div class="chatbody" id="chat">
            <div class="panel with-nav-tabs panel-primary">
                <div class="panel-heading top-bar">
                    <div class="col-md-2 col-xs-2">
                        <h3 class="panel-title" id="drag-chat"><span class="glyphicon glyphicon-comment"></span> Chat </h3>
                    </div>    
                    <div class="col-md-9 col-xs-9" id="chatTabs">
                        <ul class="nav nav-tabs">
                            <li><a href="#tab1primary" data-toggle="tab" class="nourl" id="tab1">Lobby</a></li>
                            <li class="active"><a href="#tab2primary" data-toggle="tab" class="nourl" id="tab2">Room</a></li>
                        </ul>
                    </div>   
                    <div class="col-md-1 col-xs-1">
                        <i class="glyphicon glyphicon-asterisk toggle-chat pull-right">Collapse</i>
                    </div>
                </div>
                <div class="panel-body msg_container_base">
                    <div class="tab-content">
                        <div class="tab-pane fade" id="tab1primary"></div>
                        <div class="tab-pane fade in active" id="tab2primary"></div>
                    </div>
                </div>
                <div class="panel-footer">
                        <form action="" method="POST" class="form-wrapper cf"> 
                            <div class="input-group">       
                                <input id="btn-input" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." autocomplete="off"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" id="btn-chat" type="submit"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </form>
                </div>
            </div>
        </div>
        {% include "partials/modal.html" %} 
        </div>
        {% include "partials/footer.html" %} 
    </div>
</body>
</html>