<!DOCTYPE html>
<html>
    {% include "partials/header.html" %}  
<body>
  <div class="main-container">
    <div class="container">
      {% include "partials/navbar.html" %}  
      <div class="jumbotron">
        <h1>Saboteur The Game</h1>
        <p class="lead">In Saboteur, each player takes on the role of a gold-digging dwarf or a saboteur who wants to hinder exploration of the gold mines — but each player knows only his own role, so the digging may or may not go as planned!</p>
        <p><a class="btn btn-lg btn-success" href="{{url_for('signup')}}" role="button">Sign up!</a></p>
      </div>
    </div>
    {% include "partials/footer.html" %} 
  </div>
</body>
</html>
