<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Saboteur</title>
        <link rel="shortcut icon" href="static/favicon.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>   
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/cards.css')}}">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <script type="text/javascript" src="{{url_for('static', filename='js/scores.js')}}"></script>
    </head>    
<body>
    <div class="container">
        <div class="header clearfix">
                <nav>
                  <ul class="nav nav-pills pull-right">
                        <li role="presentation" id="leave-room"><a href="{{url_for('dashboard')}}">Dashboard</a></li>
                    <li role="presentation" id="leave-room"><a href="{{url_for('logout')}}">Log Out</a></li>
                  </ul>
                </nav>
                <h3 class="text-muted">Scores</h3>
              </div>  
              <div class="row">
        </div>
        <div class="row">
            <div class="panel panel-primary filterable">
                <div class="panel-heading">
                    <h3 class="panel-title">Game: {{gamename|safe}}</h3>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>User </th>
                            <th>Roles</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in data %}
                            <tr>
                                <td class="td-name col-xs-2">{{user.name}}</td>
                                <td class="td-role col-xs-8" id="td-{{user.name}}">{{user.role}}</td>
                                <td class="td-score col-xs-2">{{user.score}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include "partials/footer.html" %} 
</body>
</html>