<!DOCTYPE html>
<html>
    {% include "partials/header.html" %}  
<body>
    <div class="container">
        <div class="header clearfix">
                <nav>
                  <ul class="nav nav-pills pull-right">
                        <li role="presentation" id="leave-room"><a href="{{url_for('dashboard')}}">Dashboard</a></li>
                    <li role="presentation" id="leave-room"><a href="{{url_for('logout')}}">Log Out</a></li>
                  </ul>
                </nav>
                <h3 class="text-muted">Scores <small id="username">{{gamename|safe}}</small> </h3>
              </div>  
              <div class="row">
        </div>
        <div class="row">
            <div class="panel panel-primary filterable">
                <div class="panel-heading">
                    <h3 class="panel-title">Scores</h3>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>User </th>
                            <th>Roles</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in data %}
                            <tr>
                                <td>{{user.name}}</td>
                                <td>{{user.role}}</td>
                                <td>{{user.score}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include "partials/footer.html" %} 
</body>
</html>